main {
  h1,h2,h3 {
    text-align: center;
  }

  p {
    text-align: center;
    line-height: 1.5em;
  }

  > div {
    padding: 0 2em;
    margin-top: 8em;

    &.get-started {
      padding: 4em 2em;
    }
  }
}

.hero {
  position: relative;
  img {
    width: 100%;
  }

  &__btns {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin-top: 2em;

    button {
      font-weight: 600;
    }
  }
}

.faqs {
  .dropdown-flex {
    margin: 4em 0 3em;
  }

  text-align: center;
  button {
    padding: 16px 22px;
  }
}

.get-started {
  background-color: var(--clr-blue);
  
  > span {
    display: block;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    font-size: .8rem;
  }

  h2 { 
    color: white; 
    font-weight: 500;
  }

  form {
    margin: 2em 0 0;
  }
}

footer {
  padding: 3em;
  background-color: var(--clr-darkblue);
  text-align: center;

  ul {
    list-style: none;
    margin: 2.5em 0;
    padding: 0;
  }

  li {
    color: white;
    margin: 2em;
    text-transform: uppercase;

    letter-spacing: 1.5px;
  }

  .media {
    display: flex;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
  }
}