@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root {
  font-family: "Rubik";
  font-weight: 400;
}

h1 { font-size: 2rem; } // 32px
h2 { font-size: 1.45rem; } // 23.2px
h3 { font-size: 1.325rem; } // 21.2px
p { font-size: .95rem; } // 15.2px