@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  --clr-red: hsl(0, 94%, 66%);
  --clr-blue: hsl(231, 69%, 60%);
  --clr-darkblue: hsl(229, 31%, 21%);
  --clr-gray: hsl(229, 8%, 60%);
}

h1, h2, h3 {
  color: black;
}

p {
  color: var(--clr-gray);
}

:root {
  font-family: "Rubik";
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 0.95rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  padding: 1em;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.btn--primary {
  background-color: var(--clr-blue);
  color: white;
}

.card-flex {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}

.card {
  width: 100%;
  min-height: 326px;
  padding: 1.375em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  background-image: url("../../public/images/bg-dots.svg");
  background-repeat: no-repeat;
  background-position: top 16.5em left;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0px 6px 12px 0px rgba(74, 68, 131, 0.26);
  position: relative;
}
.card img {
  margin: 1.5em 0;
}
.card h3 {
  margin: 0.4em 0;
}
.card p {
  margin: 0;
}
.card button {
  margin-top: 4.5em;
  width: 100%;
}

.dropdown {
  width: 100%;
  margin: 1.5em 0 1em;
  border-bottom: 1.5px solid rgba(145, 148, 161, 0.28);
  position: relative;
}
.dropdown .arrow {
  position: absolute;
  top: 0;
  right: 0;
  transition-property: transform;
  transition-duration: 250ms;
}
.dropdown h4 {
  font-size: 0.95rem;
  font-weight: 400;
  margin: 1.5em 0 1em;
}
.dropdown p {
  display: none;
  margin: 2em 0;
  line-height: 1.625em;
}
.dropdown--show p {
  display: block;
}
.dropdown--show .arrow {
  transform: rotateZ(180deg);
}
.dropdown--show .arrow path {
  stroke: var(--clr-red);
}

header {
  padding: 2.25em 2em;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition-property: background-color, opacity;
  transition-duration: 250ms;
}
header .navbar-toggler {
  position: absolute;
  top: 2.25em;
  right: 2em;
}
header .navbar-toggler .open {
  display: inline;
}
header .navbar-toggler .close {
  display: none;
}
header .navbar {
  opacity: 0;
}

.media {
  opacity: 0;
  display: flex;
  width: 100%;
  gap: 2.5em;
  justify-content: center;
  align-items: center;
}

header.show-navbar {
  position: fixed;
  background-color: rgba(37, 43, 70, 0.975);
}
header.show-navbar .navbar-toggler .open {
  display: none;
}
header.show-navbar .navbar-toggler .close {
  display: inline;
}
header.show-navbar .logo__name {
  fill: white;
}
header.show-navbar .logo__circle {
  fill: white;
}
header.show-navbar .logo__icon {
  fill: var(--clr-darkblue);
}
header.show-navbar .navbar {
  opacity: 1;
}
header.show-navbar .media {
  opacity: 1;
  position: absolute;
  bottom: 3em;
  left: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  border-top: 0.75px solid var(--clr-gray);
  border-bottom: 0.75px solid var(--clr-gray);
  list-style: none;
  margin: 2.375em 0 1.625em;
}
.navbar li {
  min-height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.75px solid var(--clr-gray);
  border-bottom: 0.75px solid var(--clr-gray);
  text-transform: uppercase;
  font-size: 1.125rem;
  color: white;
}
.navbar button.btn {
  color: white;
  background-color: transparent;
  width: 100%;
  min-height: 50px;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  border: 1.5px solid white;
  border-radius: 5px;
}

.tab-names {
  margin: 0;
  padding: 0;
  border-top: 0.75px solid var(--clr-gray);
  border-bottom: 0.75px solid var(--clr-gray);
  list-style: none;
  margin: 2.375em 0 1.625em;
}
.tab-names li {
  min-height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.75px solid var(--clr-gray);
  border-bottom: 0.75px solid var(--clr-gray);
}
.tab-content {
  position: relative;
  margin: 5em 0;
}
.tab-content::before {
  content: "";
  width: 95%;
  aspect-ratio: 1.55;
  background-color: var(--clr-blue);
  border-bottom-right-radius: 30%;
  position: absolute;
  z-index: 5;
  top: 3.25em;
  left: -2em;
}
.tab-content img {
  width: 100%;
  position: relative;
  z-index: 6;
}
.tab-content h2 {
  margin: 4em 0 1em;
  text-align: center;
}
.tab-content p {
  margin: 0;
  font-size: 0.95rem;
  text-align: center;
  line-height: 1.5em;
}
.tab-content button {
  display: none;
}

.tab-name {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
}
.tab-name::after {
  content: "";
  width: 90%;
  height: 0.25em;
  position: absolute;
  bottom: -1.2em;
  left: 5%;
  background-color: var(--clr-red);
  transform: scale(0);
}
.tab-name--active {
  color: black;
}
.tab-name--active::after {
  transform: scale(1);
}
