@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap");
:root {
  --clr-red: hsl(0, 94%, 66%);
  --clr-blue: hsl(231, 69%, 60%);
  --clr-darkblue: hsl(229, 31%, 21%);
  --clr-gray: hsl(229, 8%, 60%);
}

h1, h2, h3 {
  color: black;
}

p {
  color: var(--clr-gray);
}

:root {
  font-family: "Rubik";
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.45rem;
}

h3 {
  font-size: 1.325rem;
}

p {
  font-size: 0.95rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.btn {
  padding: 1em;
  text-align: center;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.btn--primary {
  background-color: var(--clr-blue);
  color: white;
}

.btn--secondary {
  background-color: var(--clr-red);
  color: white;
}

.btn--shadow {
  background-color: #f2f2f2;
  box-shadow: 0px 6px 12px 0px rgba(74, 68, 131, 0.26);
  color: rgba(0, 0, 0, 0.6);
}

.card-flex {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}

.card {
  width: 100%;
  min-height: 326px;
  padding: 1.375em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  background-image: url("../../public/images/bg-dots.svg");
  background-repeat: no-repeat;
  background-position: top 16.5em left;
  background-size: contain;
  border-radius: 10px;
  box-shadow: 0px 6px 12px 0px rgba(74, 68, 131, 0.26);
  position: relative;
}
.card img {
  margin: 1.5em 0;
}
.card h3 {
  margin: 0.4em 0;
}
.card p {
  margin: 0;
}
.card button {
  margin-top: 4.5em;
  width: 100%;
}

.dropdown {
  width: 100%;
  margin: 1.5em 0 1em;
  border-bottom: 1.5px solid rgba(145, 148, 161, 0.28);
  position: relative;
}
.dropdown .arrow {
  position: absolute;
  top: 0;
  right: 0;
  transition-property: transform;
  transition-duration: 250ms;
}
.dropdown h3 {
  font-size: 0.95rem;
  font-weight: 400;
  margin: 1.5em 0 1em;
  text-align: left;
}
.dropdown p {
  display: none;
  margin: 2em 0;
  line-height: 1.625em;
  text-align: left !important;
}
.dropdown--show p {
  display: block;
}
.dropdown--show .arrow {
  transform: rotateZ(180deg);
}
.dropdown--show .arrow path {
  stroke: var(--clr-red);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
form input, form button.btn {
  padding: 1.25em 1.125em;
}

.input {
  position: relative;
  z-index: 5;
}
.input img, .input span {
  display: none;
}
.input input {
  width: 100%;
  border: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.8);
}
.input input:focus {
  border: none;
  outline: none;
}

.input--error {
  background-color: var(--clr-red);
  border-radius: 5px;
}
.input--error input {
  width: 98%;
  margin: 1%;
}
.input--error img {
  display: inline;
  position: absolute;
  z-index: 6;
  top: calc(1em + 2%);
  right: calc(0.5em + 2%);
}
.input--error span {
  display: block;
  color: white;
  font-size: 0.6rem;
  font-style: italic;
  margin-left: 1em;
  padding: 0.25em 0 calc(0.25em + 1%);
}

header {
  padding: 2.25em 2em;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  transition-property: background-color, opacity;
  transition-duration: 250ms;
}
header .navbar-toggler {
  position: absolute;
  top: 2.25em;
  right: 2em;
}
header .navbar-toggler .open {
  display: inline;
}
header .navbar-toggler .close {
  display: none;
}
header .navbar {
  opacity: 0;
}
header .media {
  opacity: 0;
  display: flex;
  width: 100%;
  gap: 2.5em;
  justify-content: center;
  align-items: center;
}

header.show-navbar {
  position: fixed;
  background-color: rgba(37, 43, 70, 0.975);
}
header.show-navbar .navbar-toggler .open {
  display: none;
}
header.show-navbar .navbar-toggler .close {
  display: inline;
}
header.show-navbar .logo__name {
  fill: white;
}
header.show-navbar .logo__circle {
  fill: white;
}
header.show-navbar .logo__icon {
  fill: var(--clr-darkblue);
}
header.show-navbar .navbar {
  opacity: 1;
}
header.show-navbar .media {
  opacity: 1;
  position: absolute;
  bottom: 3em;
  left: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  border-top: 0.75px solid var(--clr-gray);
  border-bottom: 0.75px solid var(--clr-gray);
  list-style: none;
  margin: 2.375em 0 1.625em;
}
.navbar li {
  min-height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.75px solid var(--clr-gray);
  border-bottom: 0.75px solid var(--clr-gray);
  text-transform: uppercase;
  font-size: 1.125rem;
  color: white;
}
.navbar button.btn {
  color: white;
  background-color: transparent;
  width: 100%;
  min-height: 50px;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  border: 1.5px solid white;
  border-radius: 5px;
}

.tab-names {
  margin: 0;
  padding: 0;
  border-top: 0.75px solid var(--clr-gray);
  border-bottom: 0.75px solid var(--clr-gray);
  list-style: none;
  margin: 2.375em 0 1.625em;
}
.tab-names li {
  min-height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.75px solid var(--clr-gray);
  border-bottom: 0.75px solid var(--clr-gray);
}
.tab-content {
  position: relative;
  margin: 5em 0;
}
.tab-content img {
  width: 100%;
  position: relative;
  z-index: 6;
}
.tab-content h3 {
  margin: 4em 0 1em;
  text-align: center;
}
.tab-content p {
  margin: 0;
  font-size: 0.95rem;
  text-align: center;
  line-height: 1.5em;
}
.tab-content button {
  display: none;
}

.tab-name {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
}
.tab-name::after {
  content: "";
  width: 90%;
  height: 0.25em;
  position: absolute;
  bottom: -1.2em;
  left: 5%;
  background-color: var(--clr-red);
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.tab-name--active {
  color: black;
}
.tab-name--active::after {
  transform: scaleX(1);
}

@media only screen and (min-width: 1086px) {
  #root > header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    min-height: auto;
  }
  #root > header .navbar-toggler {
    display: none;
  }
  #root > header .logo__name {
    fill: var(--clr-darkblue);
  }
  #root > header .logo__circle {
    fill: var(--clr-blue);
  }
  #root > header .logo__icon {
    fill: white;
  }
  #root > header .navbar {
    display: flex;
    gap: 2.5em;
    align-items: center;
    opacity: 1;
  }
  #root > header .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
    border: none;
    margin: 0;
  }
  #root > header .navbar li {
    font-size: 0.9rem;
    border: none;
    color: black;
    width: fit-content;
  }
  #root > header .navbar li:hover {
    cursor: pointer;
    color: var(--clr-red);
  }
  #root > header .navbar button.btn {
    color: white;
    background-color: var(--clr-red);
    width: fit-content;
    font-size: 0.9rem;
    padding: 0 2.5em;
  }
  #root > header .navbar button.btn:hover {
    cursor: pointer;
    color: var(--clr-red);
    background-color: transparent;
    border-color: var(--clr-red);
  }
  #root > header .media {
    display: none;
  }

  .hero {
    margin-top: 15em;
  }
  .hero h1 {
    font-size: 3rem;
  }
  .hero p {
    font-size: 1.15rem;
    padding-right: 1em;
  }
  .hero .btn--primary {
    border: 1.5px solid transparent;
  }
  .hero .btn--primary:hover {
    color: var(--clr-blue);
    cursor: pointer;
    background-color: transparent;
    border-color: var(--clr-blue);
  }
  .hero .btn--shadow {
    border: 1.5px solid transparent;
  }
  .hero .btn--shadow:hover {
    cursor: pointer;
    color: black;
    border-color: black;
  }

  .features > h2, .downloads > h2, .faqs > h2 {
    font-size: 2rem;
  }
  .features > p, .downloads > p, .faqs > p {
    font-size: 1.15rem;
    padding: 0 10%;
  }

  .tab li {
    font-size: 1.15rem;
  }
  .tab .tab-name:hover {
    cursor: pointer;
    color: var(--clr-red);
  }
  .tab .tab-content > div {
    margin-left: 4em;
  }
  .tab .tab-content > div h3 {
    font-size: 2rem;
    margin: 0.5em 0;
  }
  .tab .tab-content > div p {
    font-size: 1.15rem;
    padding-right: 18%;
  }
  .tab .tab-content > div .btn.btn--primary {
    display: inline;
    margin-top: 2em;
    font-size: 1rem;
    padding: 0.8em 1.5em;
  }

  .card-flex {
    min-height: 444px;
  }
  .card-flex .card:first-child {
    align-self: flex-start;
  }
  .card-flex .card:last-child {
    align-self: flex-end;
  }
  .card-flex .card button {
    border: 1.5px solid transparent;
  }
  .card-flex .card button:hover {
    cursor: pointer;
    color: var(--clr-blue);
    background-color: transparent;
    border-color: var(--clr-blue);
  }

  .dropdown h3 {
    font-size: 1.05rem;
  }
  .dropdown:hover {
    cursor: pointer;
  }
  .dropdown:hover h3 {
    color: var(--clr-red);
  }

  .faqs button.btn.btn--primary {
    font-size: 1rem;
    padding: 0.8em 1.5em;
  }

  div.get-started h2 {
    font-size: 2rem;
    padding: 0 30%;
  }
  div.get-started form {
    max-width: 444px;
    flex-direction: row;
  }
  div.get-started form .input {
    flex: 1;
  }
  div.get-started form button.btn.btn--secondary {
    font-size: 1rem;
    padding: 0.8em 1.5em;
    border: 1.5px solid transparent;
    align-self: flex-start;
  }
  div.get-started form button.btn.btn--secondary:hover {
    cursor: pointer;
    color: var(--clr-red);
    background-color: white;
    border-color: var(--clr-red);
  }

  main > footer {
    padding: 0.5em 10vw;
    display: flex;
    gap: 4em;
    align-items: center;
    position: relative;
  }
  main > footer ul {
    display: flex;
    gap: 2em;
  }
  main > footer ul li {
    margin: 0;
    font-size: 0.9rem;
  }
  main > footer ul li:hover {
    cursor: pointer;
    color: var(--clr-red);
  }
  main > footer .media {
    position: absolute;
    top: 50%;
    right: 10vw;
    transform: translateY(-50%);
  }
  main > footer .media svg:hover {
    cursor: pointer;
  }
  main > footer .media svg:hover path {
    fill: var(--clr-red);
  }
}
main h1, main h2, main h3 {
  text-align: center;
}
main p {
  text-align: center;
  line-height: 1.5em;
}
main > div {
  padding: 0 2em;
  margin-top: 8em;
}
main > div.get-started {
  padding: 4em 2em;
}

.hero {
  position: relative;
}
.hero img {
  width: 100%;
}
.hero__btns {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.hero__btns button {
  font-weight: 600;
}

.faqs {
  text-align: center;
}
.faqs .dropdown-flex {
  margin: 4em 0 3em;
}
.faqs button {
  padding: 16px 22px;
}

.get-started {
  background-color: var(--clr-blue);
}
.get-started > span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  font-size: 0.8rem;
}
.get-started h2 {
  color: white;
  font-weight: 500;
}
.get-started form {
  margin: 2em 0 0;
}

footer {
  padding: 3em;
  background-color: var(--clr-darkblue);
  text-align: center;
}
footer ul {
  list-style: none;
  margin: 2.5em 0;
  padding: 0;
}
footer li {
  color: white;
  margin: 2em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
footer .media {
  display: flex;
  gap: 2.5em;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 729px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
  }

  header {
    padding: 3em 10vw;
  }
  header .navbar-toggler {
    top: 3em;
    right: 10vw;
  }

  .tab ul.tab-names {
    display: flex;
    flex-direction: row;
    border: none;
    justify-content: center;
  }
  .tab ul.tab-names li {
    border: none;
    width: min(100%, 240px);
    position: relative;
    border-bottom: 1px solid var(--clr-gray);
  }
  .tab ul.tab-names li div.tab-name {
    position: static;
  }
  .tab ul.tab-names li div.tab-name::after {
    width: 100%;
    left: 0;
    bottom: -1px;
  }

  .tab .tab-content {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    gap: 3em;
  }
  .tab .tab-content h3 {
    margin: 1em 0;
    text-align: left;
  }
  .tab .tab-content p {
    text-align: left;
  }

  .card-flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 3em 0;
    padding: 0;
  }
  .card-flex .card {
    max-width: 280px;
  }

  .dropdown {
    max-width: 540px;
    margin: 0 auto;
  }

  main > div {
    padding: 0 10vw;
  }
  main > div.get-started {
    padding: 5em 10vw;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
  }
  .hero h1, .hero p {
    text-align: left;
  }
  .hero__btns {
    justify-content: flex-start;
  }

  .features > p, .downloads > p, .faqs > p {
    margin: auto 15%;
  }

  .get-started {
    background-color: var(--clr-blue);
  }
  .get-started form {
    margin: 2em auto 0;
    max-width: 420px;
  }
}
