@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
:root {
  --clr-red: hsl(0, 94%, 66%);
  --clr-blue: hsl(231, 69%, 60%);
  --clr-darkblue: hsl(229, 31%, 21%);
  --clr-gray: hsl(229, 8%, 60%);
}

:root {
  font-family: "Rubik";
  font-weight: 400;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.375rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1.125rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar ul {
  margin: 0;
  padding: 0;
  border-top: 0.75px solid var(--clr-gray);
  border-bottom: 0.75px solid var(--clr-gray);
  list-style: none;
  margin: 2.375em 0 1.625em;
}
.navbar li {
  min-height: 4em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.75px solid var(--clr-gray);
  border-bottom: 0.75px solid var(--clr-gray);
  text-transform: uppercase;
  font-size: 1.125rem;
  color: white;
}
.navbar button.btn {
  color: white;
  background-color: transparent;
  width: 100%;
  min-height: 50px;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  border: 1.5px solid white;
  border-radius: 5px;
}

header {
  padding: 2.25em 2em;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: background-color, opacity;
  transition-duration: 250ms;
}
header .navbar-toggler {
  position: absolute;
  top: 2.25em;
  right: 2em;
}
header .navbar-toggler .open {
  display: inline;
}
header .navbar-toggler .close {
  display: none;
}
header .navbar {
  opacity: 0;
}

.media {
  opacity: 0;
  display: flex;
  width: 100%;
  gap: 2.5em;
  justify-content: center;
  align-items: center;
}

header.show-navbar {
  position: fixed;
  background-color: rgba(37, 43, 70, 0.975);
}
header.show-navbar .navbar-toggler .open {
  display: none;
}
header.show-navbar .navbar-toggler .close {
  display: inline;
}
header.show-navbar .logo__name {
  fill: white;
}
header.show-navbar .logo__circle {
  fill: white;
}
header.show-navbar .logo__icon {
  fill: var(--clr-darkblue);
}
header.show-navbar .navbar {
  opacity: 1;
}
header.show-navbar .media {
  opacity: 1;
  position: absolute;
  bottom: 3em;
  left: 0;
}
