.dropdown {
  width: 100%;
  margin: 1.5em 0 1em;
  border-bottom: 1.5px solid hsla(228.7, 7.8%, 60%, 0.28);


  position: relative;
  .arrow {
    position: absolute;
    top: 0;
    right: 0;

    transition-property: transform;
    transition-duration: 250ms;
  }

  h4 {
    font-size: .95rem;
    font-weight: 400;
    margin: 1.5em 0 1em;
  }

  p {
    display: none;
    margin: 2em 0;
    line-height: 1.625em;
  }

  &--show {
    p { 
      display: block; 
    }

    .arrow {
      transform: rotateZ(180deg);
      path {
        stroke: var(--clr-red);
      }
    }
  }
}